@if (Request.IsAuthenticated)
{
    <text>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://adfs.hidservices.com/adfs/ls/?wa=wsignout1.0&wreply=@Url.Encode("http://www.hidglobal.com/services/tap")">Sign Out</a>
            </li>
        </ul>
    </text>
}
