@{
    ViewBag.Title = "Try yourself";
}
<h2>@ViewBag.Title</h2>
<p>If you want to try, you just need:</p>
<ol>
    <li><a href="http://www.hidglobal.com/products/readers/omnikey/5421">An Omnikey 5421 smart card reader</a></li>
    <li><a href="http://www.hidglobal.com/products/cards-and-credentials/iclass-seos/iclass-seos8k-prox">An iCLASS SEOS 8K smart card</a></li>
</ol>

<address>
    <strong>Contact</strong>   <a href="mailto:asiasupport@hidglobal.com">asiasupport@hidglobal.com</a><br />
</address>